.chatHeader {
  width: 100vw;   /* full viewport */
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* Avatar */
.chatHeader .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: green;
  flex-shrink: 0; /* avatar fix rahe */
}

/* Username */
.chatHeader .username {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* ek hi line me truncate ho */
}

.manubar {
  display: none;
}

/* Tablet */
@media (max-width: 900px) {
  .chatHeader {
    font-size: 1rem;
    padding: 6px 10px;
  }
  .chatHeader .avatar {
    width: 35px;
    height: 35px;
  }
  .manubar {
  display: none;
}
}

/* Mobile */
@media (max-width: 600px) {
   .manubar {
    display: block; 
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 8px;
    gap: 15px;
  }

  .chatHeader {
    font-size: 0.9rem;

  }
  .chatHeader .avatar {
    width: 28px;
    height: 28px;
  }
  
}
