.chatArea{
    height: 80vh;
    width: 80vw;
     display: flex;
  flex-direction: column;
   padding: 30px 5%;
    /* background-color:red; */
    gap: 20px;
    position: relative;
    overflow-y: auto;
}
.chatfield{
    margin-left: 20px;
    position: absolute;
    border-color: aqua;
    border: 2px solid black; 
    width: 50vw;
    bottom: 20px;    
}
.sendBtn{
    bottom: 20px; 
    font-size: 50px;
    position: absolute; 
    margin-left: 61vw;
    cursor: pointer;
}

/* -------- Mobile Responsive -------- */
@media (max-width: 600px) {
  .inputArea{
    width: 40%;
    margin-left: 10px;
  }
  .chatArea {
    width: 80vw;   /* pura screen cover kare */
    padding: 15px 3%; /* kam padding */
  }

  .chatfield { 
    width: 55vw  !important;     
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
  }

  .sendBtn {
    font-size: 2rem; /* button thoda chhota */
  }
}
