.Nav {
  width: 300px;
  height: 100vh;
   background-color: #e0f0ff;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.NavHead {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.userlist {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
  scrollbar-width: none;
}

.user {
  display: flex;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc; 
}
.messageHeader{
   display: flex;
    align-items: center;
}
.user:hover {
  background-color: #f0f0f0;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  color: #333;
  font-size: 1.2rem;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

.logout {
  margin-top: auto;
  padding-top: 10px;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .Nav {
    width: 200px;       /* width chhoti kar di */
    padding: 10px;
  }

  .NavHead {
    font-size: 18px;
  }

  .circle {
    width: 35px;
    height: 35px;
  }

  .username {
    font-size: 0.9rem;
  }

  .user {
    padding: 8px 0;
  }
}
